<!--
  Feel
  free
  to
  remove
  these
  styles
  or
  customise
  in
  your
  own
  stylesheet
  👍
  --
  > .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 1440px; */
  min-height: 100vh;

  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--Pale-blue);
  background-size: contain;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  gap: 25px;
  border-radius: 20px;
  box-shadow: 0 20px 25px hsla(225, 86%, 86%, 0.966);
}

.container img {
  border-radius: 20px 20px 0 0;
}

.p-content {
  width: 300px;
  color: var(--Desaturated-blue);
  font-weight: 500;
  display: flex;
  text-align: center;
}

.price p {
  color: var(--Desaturated-blue);
}

.price h5 {
  font-weight: 900;
}

.pricing {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-pale-blue);
  padding: 24px 28px;
  width: 350px;

  border-radius: 10px;
}

.chg {
  margin-left: auto;

  color: var(--Bright-blue);

  font-weight: bold;

  /* flex-shrink: 0; */
}

.chg:hover {
  margin-left: auto;

  color: #766cf1;
  transition: background 0.3s ease;
  text-decoration: none;

  font-weight: bold;
}

.checkout {
  background-color: var(--Bright-blue);
  color: var(--Pale-blue);
  font-size: 16px;
  padding: 16px 98px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0px 15px 20px hsla(245, 75%, 52%, 0.233);
}

.checkout:hover {
  transition: background 0.3s ease;
  background-color: #766cf1;
}

.cancel-order {
  color: var(--Desaturated-blue);
  /* background-color: #fff; */
  text-decoration: none;
  border: none;
  padding: 8px 24px;
  font-weight: bold;
  font-size: 16px;
}

.cancel-order:hover {
  color: var(--Dark-blue);
  transition: background 0.3s ease;
  text-decoration: none;
}

h1 {
  color: var(--Dark-blue);
}

@media only screen and (max-width: 425px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
    font-size: 14px;
  }
}
